<div class="spreadElements">
    <div class="spreadElements" ng-repeat="bar in bars">
        <div >
            <table>
                <caption> Bar {{bar.id}}. Made of {{bar.material}}
                </caption>
                <tr>
                    <th>Position</th>
                    <th>Temperature</th>
                </tr>
                <tr ng-repeat="point in bar.points track by $index">
                    <td>{{point.pos}}</td>
                    <td>{{point.temp| number:0.1}}</td>
                </tr>
            </table>
            
            <div ng-if="variableVals[$index].variables.length > 0">
                Set Variable Heat Sources Temperatures
                <div ng-repeat="variable in variableVals[$index].variables">
                Position: {{variable.pos}}
                    <rzslider
                         rz-slider-model="variable.temp"
                         rz-slider-options="variable.options">
                    </rzslider>
                </div>
            </div>
            
            <div ng-if="bar.goals != null">
                Your temperature goals for this bar are:
                <table>
                    <tr>
                        <th>Position</th>
                        <th> Goal Temperature  </th>
                        <th> Current Temperature </th>
                    </tr>
                    <tr ng-repeat="goal in bar.goals">
                        <td class="complete">{{goal.pos}}</td>
                        <td>{{goal.temp}}</td>
                        <td ng-class="{'complete' : goal.complete}">{{goal.actual| number:0.1}}</td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div class="outerdiv spreadElements">
    <div>
        <button class="accentColour" style="height:30px;" ng-click="vote()">Vote for these settings</button>
        <span>Time until next vote: {{voteTime / 1000| number:0}}</span>
    </div>
</div>
<div class="outerdiv">
    <span ng-if="goal_reached == true"> Congratulations! You have achieved this room's goal! </span>
    <span ng-if="limit_exceeded == true"> Warning! You have exceeded this room's temperature limits </span>
</div>



