<div class="outerdiv">
    <div ng-repeat="bar in bars">
        <table>
            <caption> Bar {{bar.id}}. Made of {{bar.material}}
            </caption>
            <tr>
                <th>Position</th>
                <th>Temperature</th>
            </tr>
            <tr ng-repeat="point in bar.points track by $index">
                <td>{{point.pos}}</td>
                <td>{{point.temp| number:0}}</td>
            </tr>
        </table>
        <div ng-if="variableVals[$index].variables.length > 0">
            Set Variable Heat Sources Temperatures
            <div ng-repeat="pos in variableVals[$index].variables">
            Position: {{pos.pos}}
                <input type="number" name="input" ng-model="pos.temp">
                </input>
                
            </div>
            
            <button ng-click="updateSource($index)">Update </button>
        </div>
    </div>
</div>
<div class="outerdiv">
    <span ng-if="goal_reached == true"> Congratulations! You have achieved this room's goal! </span>
    <span ng-if="limit_exceeded == true"> Warning! You have exceeded this room's temperature limits </span>
</div>